<%= render 'layouts/header' %>
<h1 style = "text-align: center ; padding-top: 80px">Sign up</h1>
<div class="row">
  <div class="col-md-8 col-md-offset-5">
    <%= form_for :users, url: users_path do |f| %>
        <p>
          <%= f.label :firstName %>
          <%= f.text_field :first_name  %>
        </p>

        <p>
          <%= f.label :lastName %>
          <%= f.text_field :last_name %>
        </p>

        <p>
          <%= f.label :username %>
          <%= f.text_field :username%>
        </p>

        <p>
          <%= f.label :password %>
          <%= f.password_field :password %>
        </p>

        <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
