<%= render 'layouts/header' %>
<% if @user_name.count == 0 %>
    <h1>Member Does Note Exist</h1>
<% elsif @current_user != nil && session[:user_id] == @user_name[0][:id] %>
    <h1 style = "padding-top: 50px">Welcome to your Profile <%= session[:name] %>!</h1>
<% else %>
    <h1>Profile <%= @user_name[0][:first_name] << ' ' << @user_name[0][:last_name] %></h1>
<% end %>

<% if @event.any? %>
     <%= render 'events/events' %>
<% elsif @event.count == 0 && @user_name.any?%>
    <h1>No events set</h1>
<% end %>

<% if @current_user == nil && @user_name.count != 0 %>
    <%= link_to 'Back', users_path%>
    <% elsif @current_user != nil %>
     <%= link_to 'Back', users_path%>
<% end %>